<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="row">
  <div class="col-sm-5">
      <div id="logoimage">
          <img src="assets/img/estelogoicon.png">
        </div>      
  </div>
  <div class="col-sm-7">
      <div id="headermenu">
          <ul>
              <li>
                  <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">SignUp</a></h2>
                </li>
                <li>
                  <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">SignIn</a></h2>
                </li>    
                <li>
                    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">About</a></h2>
                  </li>      
            <li>
              <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">GetTalent</a></h2>
            </li>
            <li>
              <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">GetJob</a></h2>
            </li>
          </ul>  
        </div>
  </div>
</div>

<div class="row"></div>
    <div class="row">
        <div class="col-sm-2">
        </div>
          <div class="col-sm-3" id="talentcol5">
                  <span class="talent1">Get Talent for your next Project</span><br />
                  <span class="talent2">Choose your talent</span><br /><br />
                  <app-dropdown></app-dropdown><br/>
                  <div class="row" id="rowbtn">
                     <div class="col-sm-5">
                     </div>
                     <div class="col-sm-5">
                        <button type="button" class="button" mdbBtn color="basic" mdbWavesEffect><div style="color:orange">Lets Go!</div></button>
                     </div>
                     <div class="col-sm-2">
                      </div> 
                  </div>
            </div>
            <div class="col-sm-7"></div>
      </div>

<div class="row">
  <div class="col-sm-7">
    
  </div>
  <div class="col-sm-3" id="talentcol5">
      <span class="talent1">Find your next job</span><br />
      <span class="talent2">Who are you?</span><br /><br />
      <app-dropdown></app-dropdown><br />
      <div class="row" id="rowbtn">
          <div class="col-sm-5">
          </div>
          <div class="col-sm-5">
             <button type="button" class="button" mdbBtn color="basic" mdbWavesEffect><div style="color:orange">Lets Go!</div></button>
          </div>
          <div class="col-sm-2">
           </div> 
       </div>
</div>
  <div class="col-sm-2">
    
  </div>

</div>

<router-outlet></router-outlet>
