<div class="row topheader">
  <div class="col-sm-3 todayDate">{{ today | date : "fullDate" }}</div>
  <div class="col-sm-8 greetings">{{ greetings }}   Evelyn - let's match today!</div>
  <div class="col-sm-1 logout">
      <button type="button" class="button" (click)="logout()" mdbBtn color="basic" mdbWavesEffect><div style="color:orange">LogOut</div></button>
    </div>
</div>

<div class="row">
  <div class="col-sm-6">
      <div id="logoimage">
          <img src="assets/img/estelogoicon.png">
      </div>
  </div>
  <div class="col-sm-6 photo">
      <div class="photobox">
        <div class="circlep">          
        </div>
        <div class="halfsquare">
          
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
      <div id="headermenu">
          <ul>
              <li>
                  <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Dashboard</a></h2>
                </li>
                <li>
                  <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Profile</a></h2>
                </li>    
                <li>
                    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">MyProjects</a></h2>
                  </li>      
                <li>
                  <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">MyMatch</a></h2>
                </li>
                <li>
                  <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">Community</a></h2>
                </li>
          </ul>  
        </div>
  </div>
</div>

<div class="row" id="ratingrow">
    <div class="col-sm-3"></div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-12">
            <div class="ratingbox">
              <div class="row">
                  <div class="col-sm-3">
                      <span style="color:black; font-weight: 600; font-size: 27px;">Evelyn Stremersch</span> <br />
                      <span style="color:orange; font-weight: 600; font-size: 20px;">UI/UX Designer</span>      
                  </div>
                  <div class="col-sm-9 stars">
                    <div class="row">
                      <div class="col-sm-6"></div>
                      <div class="col-sm-1">
                          <img src="assets/img/staricon.png" width="60" height="60">
                      </div>
                      <div class="col-sm-1">
                          <img src="assets/img/staricon.png" width="60" height="60">
                      </div>
                      <div class="col-sm-1">
                          <img src="assets/img/staricon.png" width="60" height="60">
                      </div>
                      <div class="col-sm-1">
                          <img src="assets/img/staricon.png" width="60" height="60">
                      </div>
                      <div class="col-sm-1">
                          <img src="assets/img/staricon.png" width="60" height="60">
                      </div>

                    </div>
                  </div>
              </div>
           </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"> </div>
</div>

<div class="row" id="testreports">

   <div class="col-sm-6">
       <div class="row progress">
         <div class="col-sm-1"></div>
         <div class="col-sm-10">
            <table class="table" style="width: 100%; color:black; font-weight: 600;">
                <thead>
                    <th scope="col" colspan="4">Your Progress</th>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Assessment #1</th>
                    <td>Score: </td>
                    <td>90%</td>
                    <td>View</td>
                  </tr>
                  <tr>
                    <th scope="row">Assessment #2</th>
                    <td>Score:</td>
                    <td>90%</td>
                    <td>View</td>
                  </tr>
                  <tr>
                    <th scope="row">Assessment #3</th>
                    <td>Score:</td>
                    <td>89%</td>
                    <td>View</td>
                  </tr>
                </tbody>
              </table>       
       <div class="col-sm-1"></div>
      </div>
     </div>

     <div class="row progress1">
       <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                  <table class="table" style="width: 100%; color:black; font-weight: 600;">
                      <thead>
                          <th scope="col" colspan="4">Your Progress</th>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Assessment #1</th>
                          <td>Score: </td>
                          <td>90%</td>
                          <td>View</td>
                        </tr>
                        <tr>
                          <th scope="row">Assessment #2</th>
                          <td>Score:</td>
                          <td>90%</td>
                          <td>View</td>
                        </tr>
                        <tr>
                          <th scope="row">Assessment #3</th>
                          <td>Score:</td>
                          <td>89%</td>
                          <td>View</td>
                        </tr>
                      </tbody>
                    </table>       
              </div>
              <div class="col-sm-1"></div>
          </div>
       </div>
     </div>

   </div>
   <div class="col-sm-6">
     <div class="row">
       <div class="col-sm-12">
          <div class="contract">
              <table class="table" style="width: 70%; color:black; margin:20px; font-weight: 600;">
                  <thead>
                      <th scope="col" colspan="4">Your Contract</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Score: </td>
                      <td>90%</td>
                    </tr>
                  </tbody>
                </table>
          </div>      
       </div>
     </div>
     <div class="row">
        <div class="col-sm-12">
            <div class="contract">
                <table class="table" style="width: 70%; color:black; margin:20px; font-weight: 600;">
                    <thead>
                        <th scope="col" colspan="4">Your Contract</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Score: </td>
                        <td>90%</td>
                      </tr>
                    </tbody>
                  </table>
            </div>      
         </div>  
     </div>
     <div class="row">
        <div class="col-sm-12">
            <div class="contract">
                <table class="table" style="width: 70%; color:black; margin:20px; font-weight: 600;">
                    <thead>
                        <th scope="col" colspan="4">Your Contract</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Score: </td>
                        <td>90%</td>
                      </tr>
                    </tbody>
                  </table>
            </div>      
         </div>  
     </div>

   </div>
</div>